<footer>
    <section class="container__footer">
        <div class="container__footer--arriba">
            <div class="arriba__contacto">
                <a class="contacto--logo" href="index.html">netWerse</a>
                <a class="contacto--contact" href="mailto:netwerse@mail.com">netwerse@mail.com</a>
                <a class="contacto--contact" href="tel: +34 666 66 66 66">+34 666 66 66 66</a>

            </div>

            <div class="arriba__categorias">
                <a href="index.html">Home</a>
                <a href="activities.html">Networking in Metaverse</a>
                <a href="events.html">Upcoming Events</a>
                <a href="joinus.html">Join Us</a>

            </div>

            <div class="arriba__redes">
                <p>Follow Us in Social Media!</p>
                <div class="arriba__redes--redes">
                    <a href="#"><img src="assets/instagram.svg" alt="insta-icon" loading="lazy"></a>
                    <a href="#"><img src="assets/tiktok.svg" alt="tiktok-icon" loading="lazy"></a>
                    <a href="#"><img src="assets/twitter-x.svg" alt="twitter-icon" loading="lazy"></a>
                </div>

            </div>

        </div>

        <div class="container__footer--abajo">

            <a href="#">Política</a>
            <a href="#">Cookies</a>
            <a href="#">Más Información</a>

        </div>
    </section>
</footer>