<header>
    <section class="container__barra-menu">
        <a class="barra-menu__logo" href="index.html">netWerse</a>
        <nav class="barra-menu__lista">
            <a href="index.html">Home</a>
            <a href="activities.html">Networking in Metaverse</a>
            <a href="events.html">Upcoming Events</a>
            <a href="joinus.html">Join Now</a>
        </nav>
        <button class="barra-menu__hamburger">
            <div class="barra-menu__hamburger--bar"></div>
        </button>
    </section>

    <nav class="container__mobile-menu">
        <a href="index.html">Home</a>
        <a href="activities.html">Networking in Metaverse</a>
        <a href="events.html">Upcoming Events</a>
        <a href="joinus.html">Join Now</a>
    </nav>
</header>